@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/karstar-free");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans-serif selection:bg-primary selection:text-white;
}

::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-sans-serif;
}

#nav-list {
  @apply h-0 md:h-auto transition-all overflow-hidden md:overflow-visible;
}

#nav-check:checked ~ #nav-list {
  @apply h-[28%];
}

button {
  @apply px-4 py-3 xl:px-8 xl:py-4;
}

button.btn-outline {
  @apply border-2 border-blue px-4 py-2 lg:px-8 lg:py-4 text-blue font-semibold hover:bg-blue hover:text-white transition;
}

.btn-primary {
  @apply bg-primary border-2 border-primary hover:bg-transparent transition hover:text-primary;
}

.btn-dark {
  @apply bg-blue border-2 border-blue hover:bg-transparent transition hover:text-blue text-white;
}

header .swiper-pagination-bullet {
  @apply bg-white w-3 h-3 opacity-100 rounded-none rotate-45;
}

.signature {
  font-family: "Karstar Free", sans-serif;
}

header .swiper-button-prev,
header .swiper-button-next {
  @apply hidden;
}

header .swiper-pagination {
  @apply left-0 text-left relative mt-16 flex gap-2;
}

header .swiper-pagination-bullet-active {
  @apply bg-primary;
}

header .swiper-pagination-bullet-active::after {
  content: "";
  @apply inline-block h-px w-5 bg-primary -rotate-45 absolute bottom-2 right-[-6px];
}

.swiper-scrollbar {
  @apply hidden;
}

#video-container {
  @apply opacity-0 pointer-events-none transition duration-300;
}

#video-check:checked ~ #video-container {
  @apply opacity-100 pointer-events-auto;
}

#heritage-line {
  @apply w-px h-full xl:h-px xl:w-full absolute left-0 bg-primary;
  animation: increaseWidth 3s linear;
  animation-delay: 1s;
}

@keyframes increaseWidth {
  from {
    @apply h-0 xl:w-0;
  }
  to {
    @apply h-full xl:h-0 xl:w-full;
  }
}

.aos-animate.increase-width {
  animation: increaseWidth 2s linear forwards;
}
